In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
import math
from scipy.stats import chi2_contingency, chi2


%matplotlib inline

In [ ]:
#@VARS


# HEALTH INSURANCE

# V04306 Health insurance obtained through employer/union
# V04331 Covered by health ins plan purchased from ins company
# V04332 Covered by Medicare
# V04333 Covered by Medicare supplemental or Medigap
# V04334 Covered by government assistant program for people in need
# V04335 Covered by state health ins for uninsured people
# V04337 Covered by other health insurances not mentioned
# V04339 Plan requires certain doctor for all routine care
# V04305 Covered by type of military health insurance



#Treatment issues 

# V06574 Interaction hard due to difficulty with English language
# V06575 Treated badly due to poor/accented English
# V06569 Avoid health service due to INS
# V04307 Communicate with care provider in own language
# V04308 Interpreter available
# V04319 Cost of going to plan doctor for routine visit
# V04321 Cost for prescription medicines?
# V04323 Difficult to get doctor appt over phone in last year
# V04324 Difficult getting referral to specialist
# V04325 Provider spends limited time
# V04326 Long waits of 1+ hour in waiting room
# V04327 Difficulty getting info or advice over phone
# V04328 Difficulty getting to assigned clinic
# V04329 Difficulty getting prescribed meds
# V04330 Lack of continuity of care/high turnover of providers



#STIGMA

# V04341 If serious emot problem, probability of going to professional
# V04342 Comfort level of talking to prof about personal problems
# V04343 Embarrass level if friends knew getting prof help for emotions
# V04344 Percent people helped who see prof for serious emotional problems
# V04345 Percent people who get better without professional help
# V05631 During difficult times-seek comfort in religion (?)

#DEMOGRAPHIC

#V07477 Number of children in HH
#V07297 Number of Adults in HH
#V09036 Sex
#V07306 Age
#V08992 Region of country
#V08759 Marital Status-3 categories
#V08683 Household Income : Topcode
#V09435 Primary/Secondary adult in household
#V09154 Work Status 3 categories
# V09392 Current employ situation:1st mention: Recoded
# V03127 Current employ situation:1st mention: Recoded

#V05783 Lived with both biological parents until 16
#V05836 Freq left unsupervised at too early age in childhood
#V05838 Freq went hungry/parents didn't fix meals in childhood
#V05839 Freq parents failed to get medical trmt when sick/hurt as child
#V05449 Ever had unwanted pregnancy
#V05439 How comfortable with sexuality
#V05463 Child of your has died


# V05542 Identify with others of same racial/ethnic descent
# V05543 Feel close in your ideas/feelings w/ ppl of same racial descent

# V05633 Ever been homeless
# V05657 Received welfare/pub assistance since turning 18


# V05630 Importance of religious beliefs in daily life


# V05549 Religious preference:1st mention
# V05704 Language spoke at home growing up
# V05705 Speak language other than English at home when g
# V05706 Also spoke English when growing up
# V05714 Raised in large or small city/suburbs/rural/town or village
# V09383 Country in which you were born
# V03085 Highest grade of school/college completed: Top/Bot Code





#DEPRESSION TREATMENT

# Y VARIABLE: V01008 Received helpful/effective treatment
# V01007 Age first time talked to professional about sadness/discour
# V01010 Total profs seen for sadness incl helpful treatment doc
# V01011 Total professionals seen about sadness
# V01012 Close relatives having periods of sadness
# V01014 Hospitalized overnight for sadness
# V01018: FILTER BY PEPOPLE THAT DIDNT ANSWER THIS Tried to get professional help for sadness
# V01022: Seen psychiatrist about sadness
# V01023 Seen other mental health professional about sadness
# V01024 Seen family doc about sadness
# V01025 Seen other med doc about sadness
# V01026 Seen other health prof about sadness
# V01027 Seen religious or spiritual advisor about sadness
# V01028 Seen other healer about sadness
# V01035 Received help for sadness from family/friends/acquaintances
# V01013 Professional treatment for sadness in past 12 mths
# V01030 Treatment received-1st mention
# V00996 Professional seen about sadness:1st mention


## GENERAL TREATMENT

#V02124 Stopped seeing psychiatrist or ongoing treatment
#V02125 Completed psychiatrist treatment or quit

#V02142 Stopped seeing medical doctor or ongoing treatment
#V02143 Completed medical doctor treatment or quit

#V02178 Stopped seeing social worker or ongoing treatment
#V02177 Stopped seeing social worker or ongoing treatment
#V02179 Completed social worker treatment or quit

#V02200 Stopped seeing counselor or ongoing treatment
#V02201 Stopped seeing counselor or ongoing treatment

#V02215 Stopped seeing professional or ongoing treatment

#V02234 Stopped seeing non-MD health prof or ongoing treatment
#V02233 Stopped seeing non-MD health prof or ongoing treatment
#V02235 Completed non-MD health professional treatments

#V02253 Stopped seeing spiritual advisor or ongoing treatment
#V02252 Stopped seeing spiritual advisor or ongoing treatment
#V02254 Completed spiritual advisor treatments


#V02295 Stopped seeing healer or ongoing treatment
#V02296 Completed healer course of treatment

#V02155 Stopped seeing psychologist or ongoing treatment
#V02156 Completed psychologist treatment or quit
#V02157 Completed psychologist treatment or quit

#V02216 Completed mental health professional treatments


## MEDICINE:

# V02610 # diff kinds of prescrip meds taken during past 7 days
# V02611 # diff kinds of non-prescrip meds taken during past 7 days
# V02626 Any non-prescript meds for mood/nerves/emotional probs
# V02627 Non-prescript meds for mood/nervs/emo under doc super
# V02614 Prescrip meds taken in last 12 mths-anti-depressants
# V02616 Prescrip meds taken in last 12 mths-tranquilizers
# V02617 Prescrip meds taken in last 12 mths-amphetamines/stims
# V02620 Prescrip meds taken in last 12 mths-anti-psychotic meds

In [ ]:
relevant_cols = ["RANCEST", "V07477", "V07297", "V09036", "V07306", "V08992", "V08759", "V08683", "V09435", "V09154", "V09392", "V03127", "V05783", "V05836",
             "V05838", "V05839", "V05449", "V05439", "V05463", "V05542", "V05543", "V05633", "V05657", "V05630", "V05549", "V05704", "V05705",
             "V05706", "V05714", "V09383", "V03085", "V04341", "V04342", "V04343", "V04344", "V04345", "V05631", "V06574", "V06575",
             "V06569", "V04307", "V04308", "V04319", "V04321", "V04323", "V04324", "V04325", "V04326", "V04327", "V04328", "V04329",
             "V04330", "V04306", "V04331", "V04332", "V04333", "V04334", "V04335", "V04337", "V04339", "V04305", "V01008", "V01007",
             "V01010", "V01011", "V01012", "V01014", "V01018", "V01022", "V01023", "V01024", "V01025", "V01026", "V01027", "V01028",
             "V01035", "V01013", "V01030", "V00996", "V02124", "V02125", "V02142", "V02143", "V02178", "V02177", "V02179", "V02200",
             "V02201", "V02215", "V02234", "V02233", "V02235", "V02253", "V02252", "V02254", "V02295", "V02296", "V02155", "V02156",
             "V02157", "V02216", "V00691", "V00690", "V07655", "V07877", "V08534", "V08535", "V07659", "V08403", "V08414", "V07661", 
             "V08404", "V08415", "V07876", "V08359", "V07603", "V07611", "V08372", "V07604", "V08360", 
             "V07612","V08373", "V08526", "V07657", "V02610", "V02611", "V02626", "V02627", "V02614", "V02616",
             "V02617", "V02620", "V00995", "V10047", "V06597", "V06600", "V06603", "V06605", "V06606", "V06607", "V06616", "V06620", "V06621"]

In [ ]:
treatment_issues = ["V06574", "V06575", "V06569", "V04307", "V04308", "V04319", "V04321", "V04323", "V04324",
"V04325", "V04326", "V04327", "V04328", "V04329", "V04330"]
stigma = ["V04341", "V04342", "V04343", "V04344", "V04345", "V05631"]
demographic = ['RANCEST', "V05542", "V05543", "V05544", "V05545", "V05633", "V05657", "V05668", "V05669", "V05629", "V05630", "V05549", "V05704", "V05705", 
               "V05706", "V05713", "V05714", "V09383", "V03085", "V09392", "V03127", "V03138"]
depression = ["V01008", "V01007", "V01010", "V01011", "V01012", "V01014", "V01018", "V01022", "V01023", "V01024",
              "V01025", "V01026", "V01027", "V01028", "V01035", "V01013", "V01030", "V00996", "V00995"]

In [ ]:
def label_one_five(id:int)->bool:
  if id == 1:
    return 1
  #elif id ==5:
    #return 0
  elif math.isnan(id):
    return np.nan
  else:
    return 0

def label_one_two(id:int)->bool:
  if id == 1:
    return 1
  elif id ==2: 
    return 0
  elif math.isnan(id):
    return np.nan
  else:
    return -1


def one_five_func(df, cols):
  for col in cols:
    df[col] = df[col].apply(label_one_five)

def one_two_func(df, cols):
  for col in cols:
    df[col] = df[col].apply(label_one_five)

def merge(df, cols, name, inverse=False):

  if inverse == True:
    if len(cols) != 2:
      return -1

    a = df[cols[0]]
    b = np.invert(df[cols[1]])
    df[name] = np.logical_or(a, b)

  else:
    
    df[name] = df[cols[0]]
  #pd.Series([np.nan for x in range(len(df.index))], index=df.index)

    for col in df[cols].columns:
      df[name] = np.logical_or(df[name], df[col])

    df[name] = df[name]*1

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
filename = 'drive/My Drive/COSIW/20240-0001-Data.dta'
raw = pd.read_stata(filename, convert_categoricals=False, convert_missing=False)

raw.head(5)

   CASEID  V07312  V07319  ...      NSNLWT    CPESWTSH    CPESWTLG
0       1     NaN     NaN  ...  15968.9517  11627.3949  14040.6279
1       2     NaN     NaN  ...  13858.6912  10090.8613  12185.1909
2       3     NaN     NaN  ...  13858.6912  10090.8613  12185.1909
3       4     NaN     NaN  ...   7919.7406   5939.8017   6525.4160
4       5     NaN     NaN  ...   6096.5981   4572.4457   5023.2502

[5 rows x 5543 columns]

In [ ]:
data = raw.copy(deep=True)
data.drop(data.columns.difference(relevant_cols), 1, inplace=True)

In [ ]:
depression_cols = ["V00691", "V00690", "V07877", "V08534", "V08535", "V07659", "V08403", "V08414", "V07661", "V08404", "V08415", "V08359", "V07603", "V07611", "V08372", "V07604", "V08360", "V07612","V08373", "V08526", "V00690", "V00691", "V07877", "V08534", "V08535"]

for col in depression_cols:
  print(data[col].value_counts(dropna=False))

5.0    10690
1.0     9122
NaN      201
Name: V00691, dtype: int64
5.0    10967
1.0     8846
NaN      200
Name: V00690, dtype: int64
5.0    16578
1.0     3241
NaN      194
Name: V07877, dtype: int64
5.0    18204
1.0     1615
NaN      194
Name: V08534, dtype: int64
5.0    18434
1.0     1386
NaN      193
Name: V08535, dtype: int64
5.0    18276
1.0     1543
NaN      194
Name: V07659, dtype: int64
5.0    19013
1.0      806
NaN      194
Name: V08403, dtype: int64
5.0    19155
1.0      665
NaN      193
Name: V08414, dtype: int64
5.0    19260
1.0      559
NaN      194
Name: V07661, dtype: int64
5.0    19508
1.0      311
NaN      194
Name: V08404, dtype: int64
5.0    19581
1.0      239
NaN      193
Name: V08415, dtype: int64
5.0    19352
1.0      467
NaN      194
Name: V08359, dtype: int64
5.0    19371
1.0      448
NaN      194
Name: V07603, dtype: int64
5.0    19534
1.0      286
NaN      193
Name: V07611, dtype: int64
5.0    19499
1.0      321
NaN      193
Name: V08372, dtype: int64
5.0    19602
1.0      217
NaN      194
Name: V07604, dtype: int64
5.0    19594
1.0      225
NaN      194
Name: V08360, dtype: int64
5.0    19687
NaN      193
1.0      133
Name: V07612, dtype: int64
5.0    19668
NaN      193
1.0      152
Name: V08373, dtype: int64
5.0    19071
1.0      748
NaN      194
Name: V08526, dtype: int64
5.0    10967
1.0     8846
NaN      200
Name: V00690, dtype: int64
5.0    10690
1.0     9122
NaN      201
Name: V00691, dtype: int64
5.0    16578
1.0     3241
NaN      194
Name: V07877, dtype: int64
5.0    18204
1.0     1615
NaN      194
Name: V08534, dtype: int64
5.0    18434
1.0     1386
NaN      193
Name: V08535, dtype: int64

In [ ]:
## REMOVING ALL ROWS THAT ARE NOT DEPRESSED
## Depress tendencies:

one_five_func(data, depression_cols)
data[depression_cols].head()

   V00691  V00690  V07877  V08534  ...  V00691  V07877  V08534  V08535
0     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
1     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
2     1.0     1.0     0.0     0.0  ...     1.0     0.0     0.0     0.0
3     1.0     0.0     1.0     1.0  ...     1.0     1.0     1.0     1.0
4     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[5 rows x 25 columns]

In [ ]:
merge(data, depression_cols, "depression_tendency")
data["depression_tendency"].head()

0    0
1    0
2    1
3    1
4    0
Name: depression_tendency, dtype: int64

In [ ]:
data.drop(columns=depression_cols, inplace=True)

In [ ]:
## DROPPING PPL THAT ARENT DEPRESSED

#missing_indices_1 = np.where(data["depression_tendency"] == np.nan)[0]
#missing_indices_2 = np.where(data["depression_tendency"] == 0)[0]
#data.drop(missing_indices_1, inplace=True)
#data.drop(missing_indices_2, inplace=True)
#print(data.shape)

In [ ]:
#data.drop(columns=["depression_tendency"], inplace=True)

In [ ]:
treatment_completetion_cols = {
    "V02124": {1: False, 2: True, 3: True},
    "V02125": {1: True, 5: False},
    "V02142": {1: False, 2: True, 3: True},
    "V02143": {1: True, 5: False},
    "V02178": {1: False, 2: True, 3: True},
    "V02177": {1: False, 2: True, 3: True},
    "V02179": {1: True, 5: False},
    "V02200": {1: False, 2: True, 3: True},
    "V02201": {1: False, 2: True, 3: True},
    "V02215": {1: False, 2: True, 3: True},
    "V02234": {1: False, 2: True, 3: True},
    "V02233": {1: False, 2: True, 3: True},
    "V02235": {1: True, 5: False},
    "V02253": {1: False, 2: True, 3: True},
    "V02252": {1: False, 2: True, 3: True},
    "V02254": {1: True, 5: False},
    "V02295": {1: False, 2: True, 3: True},
    "V02296": {1: True, 5: False},
    "V02155": {1: False, 2: True, 3: True},
    "V02157": {1: True, 5: False},
    "V02156": {1: False, 2: True, 3: True},
    "V02216": {1: True, 5: False}
}

In [ ]:
for col, mapping in treatment_completetion_cols.items():
  #print(str(col) + " " + str(mapping))
  data[col].replace(mapping, inplace=True)

In [ ]:
### MERGING DATA HERE ####

merge(data, ["V02124", "V02125"], 'psychiatrist')
merge(data, ["V02142", "V02143"], 'MD')
merge(data, ["V02178", "V02177", "V02179"], 'social worker')
merge(data, ["V02200", "V02201"], 'counselor')
merge(data, ["V02234", "V02233", "V02235"], "non-MD")
merge(data, ["V02253", "V02252", "V02254"], 'spiritual advisor')
merge(data, ["V02295", "V02296"], 'healer')
merge(data, ["V02155", "V02156", "V02157"], "psychologist")

other_table = ["RANCEST", 'psychiatrist', 'MD', 'social worker', 'counselor', "non-MD", 'spiritual advisor', 'healer', "psychologist"]
    
    

## CHECK THE WARNING

In [ ]:
data.drop(["V02124", "V02125", "V02142", "V02143", "V02178", "V02177", "V02179", "V02200", "V02201", "V02234", "V02233", "V02235",
           "V02253", "V02252", "V02254", "V02295", "V02296", "V02155", "V02156", "V02157"], axis=1, inplace=True)

In [ ]:
data.head()

   V09154  V07477  V07297  ...  spiritual advisor  healer  psychologist
0     1.0       0       2  ...                NaN     NaN           NaN
1     1.0       0       1  ...                NaN     NaN           NaN
2     3.0       0       1  ...                NaN     NaN           NaN
3     1.0       0       2  ...                NaN     NaN           NaN
4     1.0       0       1  ...                NaN     NaN           NaN

[5 rows x 112 columns]

In [ ]:

# Depressed vars:

#V07876: DSM-IV Major Depressive Disorder w/ hierarchy (LifeT)
#V07655 DSM-IV Major Depressive Disorder w/ hierarchy (12Mo)
#V07657 DSM-IV Major Depressive Disorder w/ hierarchy (30Day)

depress_diagnosis = {
    "V07876": {1: True, 5: False},
    "V07655": {1: True, 5: False},
    "V07657": {1: True, 5: False},
}

In [ ]:
for col, mapping in depress_diagnosis.items():
  data[col].replace(mapping, inplace=True)

In [ ]:
merge(data, ["V07876", 'V07655', 'V07657'], 'depress_diagnos')

In [ ]:
data.drop(["V07876", 'V07655', 'V07657'], axis=1, inplace=True)

In [ ]:
data.head()

   V09154  V07477  V07297  ...  healer  psychologist  depress_diagnos
0     1.0       0       2  ...     NaN           NaN              NaN
1     1.0       0       1  ...     NaN           NaN              NaN
2     3.0       0       1  ...     NaN           NaN              NaN
3     1.0       0       2  ...     NaN           NaN                1
4     1.0       0       1  ...     NaN           NaN              NaN

[5 rows x 110 columns]

In [ ]:
#############################################################################################
### DEMOGRAPHIC VARS

demo_vars = ["V07477", "V07297", "V09036", "V07306", "V08992", "V08759", "V08683", "V09435", "V09154", "V09392", "V03127", "V05783", "V05836",
             "V05838", "V05839", "V05449", "V05439", "V05463", "V05542", "V05543", "V05633", "V05657", "V05630", "V05549", "V05704", "V05705",
             "V05706", "V05714", "V09383", "V03085"]

names = {
    "V07477": "children_HH",
    "V07297": "adults_HH",
    "V09036": "sex",
    "V07306": "age", 
    "V08992": "region",
    "V08759": "marital_status",
    "V08683": "income",
    "V09435": "primary_secondary_adult",
    "V09154": "work_status",
    "V09392": "employ_sit_1",
    "V03127": "employ_sit_2",
    "V05783": "lived_biolog_parents",
    "V05836": "left_unsupervised",
    "V05838": "went_hungry",
    "V05839": "failed_go_doc",
    "V05449": "unwanted_preg",
    "V05439": "comft_sexually",
    "V05463": "child_died",
    "V05542": "identify_ethnicity_1",
    "V05543": "identify_ethnicity_2",
    "V05633": "been_homeless",
    "V05657": "recieved_welfare",
    "V05630": "imp_religion",
    "V05549": "religion",
    "V05704": "home_language",
    "V05705": "non_english_home_lang",
    "V05706": "also_english",
    "V05714": "neighborhood",
    "V09383": "US_born",
    "V03085": "education_level"

}

data.rename(columns=names, inplace=True)


#for i in data.index:
  #if data["sex"][i] == 1:
    #data["sex"][i] = 'M'
  #else:
    #data["sex"][i] = 'F'

In [ ]:
data[["identify_ethnicity_1", "identify_ethnicity_2"]].head()

   identify_ethnicity_1  identify_ethnicity_2
0                   2.0                   2.0
1                   1.0                   1.0
2                   2.0                   2.0
3                   1.0                   1.0
4                   1.0                   2.0

In [ ]:
av_1 = data[["identify_ethnicity_1", "identify_ethnicity_2"]].copy(deep=True)
data["identify_ethnicity"] = av_1.mean(axis=1, skipna=True)
data.drop(["identify_ethnicity_1", "identify_ethnicity_2"], axis=1, inplace=True)
data["identify_ethnicity"].head()

0    2.0
1    1.0
2    2.0
3    1.0
4    1.5
Name: identify_ethnicity, dtype: float64

In [ ]:
av_2 = data[["employ_sit_1", "employ_sit_2"]].copy(deep=True)
data["employment"] = av_2.mean(axis=1, skipna=True)
data["employment"].head()

0    1.0
1    1.0
2    NaN
3    1.0
4    1.0
Name: employment, dtype: float64

In [ ]:
data.drop(["employ_sit_1", "employ_sit_2"], axis=1, inplace=True)

In [ ]:
demo_names = list(names.values())
demo_names.append("identify_ethnicity")
demo_names.append("employment")
demo_names.remove('employ_sit_2')
demo_names.remove('employ_sit_1')
demo_names.remove('identify_ethnicity_2')
demo_names.remove('identify_ethnicity_1')
data[demo_names].head()

   children_HH  adults_HH  sex  ...  education_level  identify_ethnicity  employment
0            0          2    1  ...             16.0                 2.0         1.0
1            0          1    2  ...             16.0                 1.0         1.0
2            0          1    2  ...             17.0                 2.0         NaN
3            0          2    1  ...             16.0                 1.0         1.0
4            0          1    2  ...             13.0                 1.5         1.0

[5 rows x 28 columns]

In [ ]:
### CONVERTING CONTINUOUS TO CATEGROICAL 

data["age"] = pd.cut(x=data["age"], bins=[18, 25, 50, 99], labels=["18-25", "25-50", ">50"], include_lowest=True, )
data["income"] = pd.cut(x=data["income"], bins=[0, 25000, 50000, 75000, 100000, 150000, 200000], labels=["0-25K", "25K-50K", "50K-75K", "75K-100K", "100K - 150K", ">150K"], include_lowest=True)
one_five_func(data, ["lived_biolog_parents", "unwanted_preg", "comft_sexually", "child_died", "been_homeless", "recieved_welfare", "non_english_home_lang", "also_english", "US_born"])

In [ ]:
data[demo_names].head()

   children_HH  adults_HH  sex  ... education_level  identify_ethnicity  employment
0            0          2    1  ...            16.0                 2.0         1.0
1            0          1    2  ...            16.0                 1.0         1.0
2            0          1    2  ...            17.0                 2.0         NaN
3            0          2    1  ...            16.0                 1.0         1.0
4            0          1    2  ...            13.0                 1.5         1.0

[5 rows x 28 columns]

In [ ]:
##########################################################################################

## STIGMA VARS

# V04341 If serious emot problem, probability of going to professional
# V04342 Comfort level of talking to prof about personal problems
# V04343 Embarrass level if friends knew getting prof help for emotions
# V04344 Percent people helped who see prof for serious emotional problems
# V04345 Percent people who get better without professional help
# V05631 During difficult times-seek comfort in religion (?)

names = {
    "V04341": "prob_talk_prof",
    "V04342": "comf_talk_prof",
    "V04343": "embar_talk_prof",
    "V04344": "%_helpful_talk_prof",
    "V04345": "%_better_without_prof",
    "V05631": "religion_comfort"
}

stigma = ["V04341", "V04342", "V04343", "V04344", "V04345", "V05631"]

stigma_names = list(names.values())
data.rename(columns=names, inplace=True)

In [ ]:
data[stigma_names].head()

   prob_talk_prof  comf_talk_prof  ...  %_better_without_prof  religion_comfort
0             2.0             2.0  ...                    NaN               2.0
1             2.0             1.0  ...                    NaN               1.0
2             1.0             1.0  ...                    NaN               1.0
3             1.0             1.0  ...                    NaN               1.0
4             3.0             4.0  ...                    NaN               2.0

[5 rows x 6 columns]

In [ ]:
data["%_helpful_talk_prof"] = pd.cut(x=data["%_helpful_talk_prof"], bins=[0, 25, 50, 75, 100], labels=["0-25", "25-50", "50-75", "75-100"], include_lowest=True, )
data["%_better_without_prof"] = pd.cut(x=data["%_better_without_prof"], bins=[0, 25, 50, 75, 100], labels=["0-25", "25-50", "50-75", "75-100"], include_lowest=True, )

In [ ]:
data[stigma_names].head()

   prob_talk_prof  comf_talk_prof  ...  %_better_without_prof religion_comfort
0             2.0             2.0  ...                    NaN              2.0
1             2.0             1.0  ...                    NaN              1.0
2             1.0             1.0  ...                    NaN              1.0
3             1.0             1.0  ...                    NaN              1.0
4             3.0             4.0  ...                    NaN              2.0

[5 rows x 6 columns]

In [ ]:
##########################################################################################

# HEALTH INSURANCE

# V04306 Health insurance obtained through employer/union
# V04331 Covered by health ins plan purchased from ins company
# V04332 Covered by Medicare
# V04333 Covered by Medicare supplemental or Medigap
# V04334 Covered by government assistant program for people in need
# V04335 Covered by state health ins for uninsured people
# V04337 Covered by other health insurances not mentioned
# V04339 Plan requires certain doctor for all routine care
# V04305 Covered by type of military health insurance

health_vars = ["V04306", "V04331", "V04332", "V04333", "V04334", "V04335", "V04337", "V04339", "V04305"]

names = {
    "V04306": "ins_obtained_employer",
    "V04331": "ins_purchased_company",
    "V04332": "ins_medicare",
    "V04333": "ins_supp_medigap",
    "V04334": "ins_government_prog",
    "V04335": "ins_state_health",
    "V04337": "ins_other",
    "V04339": "ins_certain_doc_req",
    "V04305": "ins_military"

}

ins_names = list(names.values())
data.rename(columns=names, inplace=True)

In [ ]:
data[ins_names].head()

   ins_obtained_employer  ...  ins_military
0                    1.0  ...           5.0
1                    1.0  ...           5.0
2                    1.0  ...           5.0
3                    1.0  ...           5.0
4                    1.0  ...           5.0

[5 rows x 9 columns]

In [ ]:
one_five_func(data, ins_names)

In [ ]:
data[ins_names].head()

   ins_obtained_employer  ...  ins_military
0                    1.0  ...           0.0
1                    1.0  ...           0.0
2                    1.0  ...           0.0
3                    1.0  ...           0.0
4                    1.0  ...           0.0

[5 rows x 9 columns]

In [ ]:
########################################################################################################

#Treatment issues 

# V06574 Interaction hard due to difficulty with English language
# V06575 Treated badly due to poor/accented English
# V06569 Avoid health service due to INS
# V04307 Communicate with care provider in own language
# V04308 Interpreter available
# V04319 Cost of going to plan doctor for routine visit
# V04321 Cost for prescription medicines?
# V04323 Difficult to get doctor appt over phone in last year
# V04324 Difficult getting referral to specialist
# V04325 Provider spends limited time
# V04326 Long waits of 1+ hour in waiting room
# V04327 Difficulty getting info or advice over phone
# V04328 Difficulty getting to assigned clinic
# V04329 Difficulty getting prescribed meds
# V04330 Lack of continuity of care/high turnover of providers


treatment_issues = ["V06574", "V06575", "V06569", "V04307", "V04308", "V04319", "V04321", "V04323", "V04324",
"V04325", "V04326", "V04327", "V04328", "V04329", "V04330"]

names = {
    
    "V06574": "inter_hard_english",
    "V06575": "treated_badly_english",
    "V06569": "avoid_treatment_INS",
    "V04307": "comm_care_own_lang",
    "V04308": "interp_available",
    "V04319": "cost_routine_checkup",
    "V04321": "cost_perscrip_medicine",
    "V04323": "difficult_appointment_phone",
    "V04324": "difficult_referral_specialist",
    "V04325": "provider_spends_limited_time",
    "V04326": "1_hr_waiting_room",
    "V04327": "difficult_advice_phone",
    "V04328": "difficult_going_clinic",
    "V04329": "difficult_getting_meds",
    "V04330": "lack_continuous_care_providers"

}


treat_names = list(names.values())
data.rename(columns=names, inplace=True)

In [ ]:
data[treat_names].head()

   inter_hard_english  ...  lack_continuous_care_providers
0                 1.0  ...                             5.0
1                 5.0  ...                             5.0
2                 5.0  ...                             5.0
3                 NaN  ...                             5.0
4                 NaN  ...                             5.0

[5 rows x 15 columns]

In [ ]:
one_five_func(data, ["inter_hard_english", "treated_badly_english", "avoid_treatment_INS", "comm_care_own_lang", "interp_available", "difficult_appointment_phone", "difficult_referral_specialist", "provider_spends_limited_time", "1_hr_waiting_room", "difficult_advice_phone", "difficult_going_clinic", "difficult_getting_meds", "lack_continuous_care_providers"])
data["cost_routine_checkup"] = pd.cut(x=data["cost_routine_checkup"], bins=[0, 1, 5, 10, 16, 20, 50, 750, 999], labels=["0", "1-5", "5-10", "10-16", "16-20", "20-50", "50-750", ">750"], include_lowest=True, )
data["cost_perscrip_medicine"] = pd.cut(x=data["cost_perscrip_medicine"], bins=[0, 1, 5, 10, 16, 20, 50, 750, 999], labels=["0", "1-5", "5-10", "10-16", "16-20", "20-50", "50-750", ">750"], include_lowest=True, )

In [ ]:
#DEPRESSION TREATMENT

# Y VARIABLE: V01008 Received helpful/effective treatment
# V01007 Age first time talked to professional about sadness/discour
# V01010 Total profs seen for sadness incl helpful treatment doc
# V01011 Total professionals seen about sadness
# V01012 Close relatives having periods of sadness
# V01014 Hospitalized overnight for sadness
# V01018: FILTER BY PEPOPLE THAT DIDNT ANSWER THIS Tried to get professional help for sadness
# V01022: Seen psychiatrist about sadness
# V01023 Seen other mental health professional about sadness
# V01024 Seen family doc about sadness
# V01025 Seen other med doc about sadness
# V01026 Seen other health prof about sadness
# V01027 Seen religious or spiritual advisor about sadness
# V01028 Seen other healer about sadness
# V01035 Received help for sadness from family/friends/acquaintances
# V01013 Professional treatment for sadness in past 12 mths
# V01030 Treatment received-1st mention
# V00996 Professional seen about sadness:1st mention

depression = ["V01008", "V01007", "V01010", "V01011", "V01012", "V01014", "V01018", "V01022", "V01023", "V01024",
              "V01025", "V01026", "V01027", "V01028", "V01035", "V01013", "V01030", "V00996", "V00995"]

names = {
    "V01008": "recieved_helpful_treatment",
    "V01007": "age_talk_prof",
    "V01010": "total_profs_seen_1",
    "V01011": "total_profs_seen_2",
    "V01014": "hospitalized_depression",
    "V01018": "tried_get_prof_help",
    "V01022": "seen_psychiatrist",
    "V01023": "seen_mental_prof",
    "V01024": "seen_family_doc",
    "V01025": "seen_other_med_doc",
    "V01026": "seen_other_health_prof",
    "V01027": "seen_religious_advisor",
    "V01028": "seen_other_healer",
    "V01035": "seen_family_friends",
    "V01013": "treatment_past_12mthns",
    "V01030": "treatment_revieved",
    "V00996": "professional_seen"

}

depress_names = list(names.values())
data.rename(columns=names, inplace=True)

In [ ]:
data[depress_names].head()

   recieved_helpful_treatment  ...  professional_seen
0                         NaN  ...                NaN
1                         NaN  ...                NaN
2                         NaN  ...                NaN
3                         1.0  ...                4.0
4                         NaN  ...                NaN

[5 rows x 17 columns]

In [ ]:
one_five_func(data, ["recieved_helpful_treatment", "hospitalized_depression", "tried_get_prof_help", "seen_psychiatrist", "seen_mental_prof", "seen_family_doc", "seen_other_med_doc", "seen_other_health_prof", "seen_religious_advisor", "seen_other_healer", "seen_family_friends", "treatment_past_12mthns"])

In [ ]:
data[depress_names]

       recieved_helpful_treatment  ...  professional_seen
0                             NaN  ...                NaN
1                             NaN  ...                NaN
2                             NaN  ...                NaN
3                             1.0  ...                4.0
4                             NaN  ...                NaN
...                           ...  ...                ...
20008                         NaN  ...                NaN
20009                         NaN  ...                NaN
20010                         NaN  ...                NaN
20011                         NaN  ...                NaN
20012                         NaN  ...                NaN

[20013 rows x 17 columns]

In [ ]:
data["age_talk_prof"] = pd.cut(x=data["age_talk_prof"], bins=[18, 25, 50, 99], labels=["18-25", "25-50", ">50"], include_lowest=True, )

In [ ]:
############################################################################################################

## MEDICINE:

# V02610 # diff kinds of prescrip meds taken during past 7 days
# V02611 # diff kinds of non-prescrip meds taken during past 7 days
# V02626 Any non-prescript meds for mood/nerves/emotional probs
# V02627 Non-prescript meds for mood/nervs/emo under doc super
# V02614 Prescrip meds taken in last 12 mths-anti-depressants
# V02616 Prescrip meds taken in last 12 mths-tranquilizers
# V02617 Prescrip meds taken in last 12 mths-amphetamines/stims
# V02620 Prescrip meds taken in last 12 mths-anti-psychotic meds


med_vars = ["V02610", "V02611", "V02626", "V02627", "V02614", "V02616", "V02617", "V02620"]
names = {
    
    "V02610": "#_diff_pre_meds",
    "V02611": "#_diff_nonpre_meds",
    "V02626": "nonpre_meds_taken_1",
    "V02627": "nonpre_meds_taken_2",
    "V02614": "anti_depress_12mnth",
    "V02616": "tranquil_12mnth",
    "V02617": "amphetanines_12mnth",
    "V02620": "anti_psychotic_12mnth"
}

medicine_names = list(names.values())
data.rename(columns=names, inplace=True)

In [ ]:
data[medicine_names].head()

   #_diff_pre_meds  ...  anti_psychotic_12mnth
0              0.0  ...                    5.0
1              0.0  ...                    5.0
2              1.0  ...                    5.0
3              4.0  ...                    5.0
4              0.0  ...                    5.0

[5 rows x 8 columns]

In [ ]:
merge(data, ["nonpre_meds_taken_1", "nonpre_meds_taken_2"], "nonpre_meds_taken")
data.drop(columns=["nonpre_meds_taken_1", "nonpre_meds_taken_2"])
one_five_func(data, ["nonpre_meds_taken", "anti_depress_12mnth", "tranquil_12mnth", "amphetanines_12mnth", "anti_psychotic_12mnth"])

In [ ]:
data.head()

   work_status  children_HH  ...  employment  nonpre_meds_taken
0          1.0            0  ...         1.0                  1
1          1.0            0  ...         1.0                  1
2          3.0            0  ...         NaN                  1
3          1.0            0  ...         1.0                  1
4          1.0            0  ...         1.0                  1

[5 rows x 109 columns]

In [ ]:
data.drop("total_profs_seen_2", axis=1, inplace=True)

In [ ]:
data["hospitalized_depression"] = data["hospitalized_depression"]*1
data["V02215"] = data["V02215"]*1
one_five_func(data, ["V02216"])

names = {
    "V02215": "stopped_seeing_prof",
    "V02216": "completed_treatment"
}

one_five_func(data, ["V00995"]) 

data.rename(columns=names, inplace=True)

In [ ]:

#av_2 = data[["prob_talk_prof", "comf_talk_prof"]].copy(deep=True)
#data["prob_comf_talk_prof"] = av_2.mean(axis=1, skipna=True)

#data.drop(["prob_talk_prof", "comf_talk_prof"], axis=1, inplace=True)

In [ ]:
data.head()

   work_status  children_HH  ...  employment  nonpre_meds_taken
0          1.0            0  ...         1.0                  1
1          1.0            0  ...         1.0                  1
2          3.0            0  ...         NaN                  1
3          1.0            0  ...         1.0                  1
4          1.0            0  ...         1.0                  1

[5 rows x 108 columns]

In [ ]:
data.to_csv(path_or_buf="drive/My Drive/COSIW/continuous.csv", index=False) ## NOT ONE-HOT

In [ ]:
############################################################################################################

# DATA SUBSET

names = {
    "RANCEST": "RANCEST",
    "prob_talk_prof": "prob_talk_prof",
    "comf_talk_prof": "comf_talk_prof",
    #"prob_comf_talk_prof": "prob_comf_talk_prof",
    "V04343": "embar_talk_prof",
    "V04344": "%_helpful_talk_prof",
    "V04345": "%_better_without_prof",
    "V05631": "religion_comfort",
    "V06574": "inter_hard_english",
    "V06575": "treated_badly_english",
    "V06569": "avoid_treatment_INS",
    "V04307": "comm_care_own_lang",
    "V04308": "interp_available",
    "V04319": "cost_routine_checkup",
    "V04321": "cost_perscrip_medicine",
    "V04323": "difficult_appointment_phone",
    "V04324": "difficult_referral_specialist",
    "V04325": "provider_spends_limited_time",
    "V04326": "1_hr_waiting_room",
    "V04327": "difficult_advice_phone",
    "V04328": "difficult_going_clinic",
    "V04329": "difficult_getting_meds",
    "V04330": "lack_continuous_care_providers",
    "V00995": "V00995"
}

a_cols = list(names.values())

In [ ]:
a = data[a_cols].copy(deep=True)

for i in a.index.values.tolist():
  if np.isnan(a["V00995"][i]): ## check?
    a.drop(i, inplace=True)

a.shape

(3476, 23)

In [ ]:
a.head()

    RANCEST  prob_talk_prof  ...  lack_continuous_care_providers  V00995
3         6             1.0  ...                             0.0     1.0
6         7             3.0  ...                             0.0     1.0
9         6             1.0  ...                             1.0     1.0
11        8             1.0  ...                             0.0     0.0
24        4             3.0  ...                             NaN     1.0

[5 rows x 23 columns]

In [ ]:
def label_race(id:int)->str:  
  if id in [1, 2, 3, 4]:
    return 'asian'
  elif id in [5, 6, 7, 8]:
    return'hispanic'
    
  elif id in [9, 10]:
    return 'black'

  elif id == 11:
    return 'white'

  else:
    return 'other'


# def one_hot_encode(df, cols):
#   df = pd.get_dummies(df, columns=cols, dummy_na=True)
#   na_cols = [col for col in df.columns if col.endswith("_nan")]
#   prefixes = 
#   for col in na_cols:
#     if df[col] == 1:





a["RANCEST"] = a["RANCEST"].apply(label_race)

In [ ]:
## GETTING DUMMIES HERE


one_hot_cols = []

for col in a.columns:
  if a[col].nunique() > 2:
    one_hot_cols.append(col)

one_hot_df = pd.get_dummies(a, columns=one_hot_cols)

In [ ]:
for col in one_hot_cols:
  one_hot_df.loc[a[col].isnull(), one_hot_df.columns.str.startswith(col)] = np.nan

In [ ]:
one_hot_df.head()

    inter_hard_english  ...  cost_perscrip_medicine_>750
3                  NaN  ...                          0.0
6                  0.0  ...                          0.0
9                  0.0  ...                          0.0
11                 1.0  ...                          0.0
24                 0.0  ...                          NaN

[5 rows x 59 columns]

In [ ]:
a.to_csv(path_or_buf="drive/My Drive/COSIW/a_5.csv", index=False)

In [ ]:
a_indices = a.index

In [ ]:
### RENAMING RELIGION COLS:

names = {
    "V10047": "uncomf_religion",
    "V06597": "freq_takepart_relig_activity",
    "V06600": "#_church_ppl_help",
    "V06603": "church_ppl_closeness",
    "V06606": "chruch_ppl_listen",
    "V06607": "church_ppl_express_interest",
    "V06616": "relig_imp_growing_up",
    "V06620": "imp_prayer_stress",
    "V06621": "imp_prayer_stress",  
    
}

data.rename(columns=names, inplace=True)

In [ ]:
data.columns.to_list()

['work_status',
 'children_HH',
 'adults_HH',
 'V00995',
 'professional_seen',
 'age_talk_prof',
 'recieved_helpful_treatment',
 'total_profs_seen_1',
 'treatment_past_12mthns',
 'V01012',
 'hospitalized_depression',
 'stopped_seeing_prof',
 'completed_treatment',
 '#_diff_pre_meds',
 '#_diff_nonpre_meds',
 'nonpre_meds_taken_1',
 'nonpre_meds_taken_2',
 'anti_depress_12mnth',
 'tranquil_12mnth',
 'amphetanines_12mnth',
 'anti_psychotic_12mnth',
 'ins_military',
 'ins_obtained_employer',
 'ins_purchased_company',
 'ins_medicare',
 'ins_supp_medigap',
 'ins_government_prog',
 'ins_state_health',
 'ins_other',
 'ins_certain_doc_req',
 'comm_care_own_lang',
 'interp_available',
 'cost_routine_checkup',
 'cost_perscrip_medicine',
 'difficult_appointment_phone',
 'difficult_referral_specialist',
 'provider_spends_limited_time',
 '1_hr_waiting_room',
 'difficult_advice_phone',
 'difficult_going_clinic',
 'difficult_getting_meds',
 'lack_continuous_care_providers',
 'prob_talk_prof',
 'comf_talk_prof',
 'embar_talk_prof',
 'unwanted_preg',
 'comft_sexually',
 'religion_comfort',
 'been_homeless',
 'recieved_welfare',
 'home_language',
 'inter_hard_english',
 'treated_badly_english',
 'avoid_treatment_INS',
 'sex',
 'age',
 'region',
 'marital_status',
 'education_level',
 'RANCEST',
 'income',
 'freq_takepart_relig_activity',
 '#_church_ppl_help',
 'church_ppl_closeness',
 'V06605',
 'chruch_ppl_listen',
 'church_ppl_express_interest',
 'relig_imp_growing_up',
 'imp_prayer_stress',
 'how_religious',
 'tried_get_prof_help',
 'seen_psychiatrist',
 'seen_mental_prof',
 'seen_family_doc',
 'seen_other_med_doc',
 'seen_other_health_prof',
 'seen_religious_advisor',
 'seen_other_healer',
 'treatment_revieved',
 'seen_family_friends',
 'uncomf_religion',
 '%_helpful_talk_prof',
 '%_better_without_prof',
 'child_died',
 'imp_religion',
 'non_english_home_lang',
 'also_english',
 'neighborhood',
 'lived_biolog_parents',
 'left_unsupervised',
 'went_hungry',
 'failed_go_doc',
 'religion',
 'US_born',
 'primary_secondary_adult',
 'depression_tendency',
 'psychiatrist',
 'MD',
 'social worker',
 'counselor',
 'non-MD',
 'spiritual advisor',
 'healer',
 'psychologist',
 'depress_diagnos',
 'identify_ethnicity',
 'employment',
 'nonpre_meds_taken']

In [ ]:
## VISUALIZATION DF

data.to_csv(path_or_buf="drive/My Drive/COSIW/visualization.csv", index=False)

In [ ]:
###### YAZAN CODE #########

In [ ]:
null_counts = data.isna().sum()
threshold = 0.8
nan_cols_to_drop = null_counts[null_counts >= threshold * len(data)].index.to_list()

new_data = data.copy(deep=True)
new_data.drop(columns=nan_cols_to_drop, axis=1, inplace=True)
print(nan_cols_to_drop)

In [ ]:
new_data.shape

In [ ]:
rows_to_keep = (new_data.isna().sum(axis=1) <= 5)

In [ ]:
new_data = new_data.iloc[rows_to_keep.to_list()]

In [ ]:
new_data["RANCEST"] = new_data["RANCEST"].apply(label_race)

In [ ]:
cols_to_drop = ["left_unsupervised", "employment", "US_born", "failed_go_doc", "went_hungry", "nonpre_meds_taken", '#_diff_pre_meds', '#_diff_nonpre_meds', "work_status"]
new_data.drop(columns=cols_to_drop, axis=1, inplace=True)

In [ ]:

#############################################################################################################################

# ONE HOT ENCODING

one_hot_cols = []

for col in new_data.columns:
  if new_data[col].nunique() > 2:
    one_hot_cols.append(col)

In [ ]:
one_hot_df = pd.get_dummies(data=new_data, columns=one_hot_cols)
# data = pd.get_dummies(data, columns=one_hot_cols)
# data.head()

In [ ]:
for col in one_hot_cols:
  one_hot_df.loc[new_data[col].isnull(), one_hot_df.columns.str.startswith(col)] = np.nan

In [ ]:
one_hot_df = pd.get_dummies(one_hot_df, columns=["sex", "primary_secondary_adult"])

In [ ]:
fix_these = []

for col in one_hot_df.columns:
  if not 0 in one_hot_df[col].unique() or not 1 in one_hot_df[col].unique() :
    fix_these.append(col)


for a in fix_these:
  print(one_hot_df[a].value_counts())

In [ ]:
one_hot_df.shape

In [ ]:
one_hot_df.head()

In [ ]:
one_hot_df.to_csv(path_or_buf="drive/My Drive/COSIW/clean_6.csv", index=False)

In [ ]:
########################################################################################################################################################

In [ ]:
test = []

for i in range(len(demographic)):
  test.append(demographic[i])

for i in range(len(depression)):
  test.append(depression[i])

print(test)

['RANCEST', 'V05542', 'V05543', 'V05544', 'V05545', 'V05633', 'V05657', 'V05668', 'V05669', 'V05629', 'V05630', 'V05549', 'V05704', 'V05705', 'V05706', 'V05713', 'V05714', 'V09383', 'V03085', 'V09392', 'V03127', 'V03138', 'V01008', 'V01007', 'V01010', 'V01011', 'V01012', 'V01014', 'V01018', 'V01022', 'V01023', 'V01024', 'V01025', 'V01026', 'V01027', 'V01028', 'V01035', 'V01013', 'V01030', 'V00996', 'V00995']

In [ ]:
df_1 = raw[test].copy(deep=True)

In [ ]:
missing_indices = np.where(df_1["V00995"].isna())[0]
df_1.drop(df_1[df_1['V00995'].isna()].index, inplace = True) 

print(df_1.shape)

(3476, 41)

In [ ]:
df_1.head()

    RANCEST  V05542  V05543  V05544  ...  V01013  V01030  V00996  V00995
3         6     1.0     1.0     2.0  ...     5.0     NaN     4.0     1.0
6         7     2.0     2.0     2.0  ...     1.0     NaN     7.0     1.0
9         6     2.0     2.0     2.0  ...     5.0     NaN     2.0     1.0
11        8     1.0     2.0     3.0  ...     NaN     NaN     NaN     5.0
24        4     3.0     2.0     2.0  ...     1.0     NaN     1.0     1.0

[5 rows x 41 columns]

In [ ]:
df_1.drop("V05545", axis=1)

       RANCEST  V05542  V05543  V05544  ...  V01013  V01030  V00996  V00995
3            6     1.0     1.0     2.0  ...     5.0     NaN     4.0     1.0
6            7     2.0     2.0     2.0  ...     1.0     NaN     7.0     1.0
9            6     2.0     2.0     2.0  ...     5.0     NaN     2.0     1.0
11           8     1.0     2.0     3.0  ...     NaN     NaN     NaN     5.0
24           4     3.0     2.0     2.0  ...     1.0     NaN     1.0     1.0
...        ...     ...     ...     ...  ...     ...     ...     ...     ...
19916        9     NaN     NaN     NaN  ...     NaN     NaN     NaN     5.0
19936        8     NaN     NaN     NaN  ...     NaN     NaN     NaN     5.0
19978        8     NaN     NaN     NaN  ...     NaN     NaN     NaN     5.0
19994        9     NaN     NaN     NaN  ...     NaN     NaN     NaN     5.0
20002        9     NaN     NaN     NaN  ...     NaN     NaN     NaN     5.0

[3476 rows x 40 columns]

In [ ]:
one_five_func(df_1, ["V05633", "V05657", "V05705", "V05706", "V01014", "V01018", "V01022", "V01023", "V01024", "V01025", "V01026", "V01027",
                     "V01028", "V01035", "V00995"])
one_two_func(df_1, ["V09383"])

df_1.drop("V03138", axis = 1) ## do more with these vars later
df_1.drop("V01008", axis=1)
df_1.drop("V01010", axis=1)
df_1.drop("V01011", axis = 1)
df_1.drop("V01013", axis = 1)
df_1.drop("V00996", axis = 1) ## WHAT TYPE OF PROFESSIONAL SEEN/CAN THIS BE INCORPORATED

# V03127 V09392 add their info

       RANCEST  V05542  V05543  V05544  ...  V01035  V01013  V01030  V00995
3            6     1.0     1.0     2.0  ...       0     5.0     NaN       1
6            7     2.0     2.0     2.0  ...       0     1.0     NaN       1
9            6     2.0     2.0     2.0  ...       0     5.0     NaN       1
11           8     1.0     2.0     3.0  ...       0     NaN     NaN       0
24           4     3.0     2.0     2.0  ...       0     1.0     NaN       1
...        ...     ...     ...     ...  ...     ...     ...     ...     ...
19916        9     NaN     NaN     NaN  ...       0     NaN     NaN       0
19936        8     NaN     NaN     NaN  ...       1     NaN     NaN       0
19978        8     NaN     NaN     NaN  ...       1     NaN     NaN       0
19994        9     NaN     NaN     NaN  ...       1     NaN     NaN       0
20002        9     NaN     NaN     NaN  ...       0     NaN     NaN       0

[3476 rows x 40 columns]

In [ ]:
#############################################################################################################################

In [ ]:
## CHI SQUARED

## "V00995': SAW PROFESSIONAL ABOUT SADDNESS

races_count = df_1["RANCEST"].value_counts()

stat, p, dof, expected = chi2_contingency(pd.concat([races_count, df_1.groupby("RANCEST").sum()["V00995"]], axis=1).to_numpy())
prob = 0.95
critical = chi2.ppf(prob, dof)
if abs(stat) >= critical:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

Dependent (reject H0)

In [ ]:
print(p)

3.7003458054084507e-07

For a Chi-square test, a p-value that is less than or equal to your significance level indicates there is sufficient evidence to conclude that the observed distribution is not the same as the expected distribution. You can conclude that a relationship exists between the categorical variables.

In [ ]:
# V04343 Embarrass level if friends knew getting prof help for emotions

raw["V04343"].head()

0    3.0
1    2.0
2    4.0
3    4.0
4    4.0
Name: V04343, dtype: float64

In [ ]:
contingency = pd.crosstab(df_1['RANCEST'], df_1['V00995'])
stat, p, dof, expected = chi2_contingency(contingency)
prob = 0.95
critical = chi2.ppf(prob, dof)
if abs(stat) >= critical:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

Dependent (reject H0)

In [ ]:
print(p)

9.469212221407734e-35

#Religion columns:

In [ ]:
# V10047 R uncomfortable w/religion
# V06597 Frequency take part in other church activities
# V06600 # church people help you if needed
# V06603 Closeness to church people
# V06606 Church people listen to problems
# V06607 Church people express interest in well-being
# V06616 Importance of religion in home when growing up
# V06620 Importance of prayer in dealing w/ stressful situations
# V06621 How religious are you


rel_cols = ["RANCEST", "V10047", "V06597", "V06600", "V06603", "V06605", "V06606", "V06607", "V06616", "V06620", "V06621", "V04341", "V04342",
            "V04343", "V04344", "V04345", "V05631"]

religon = ["uncomf_religion", "freq_takepart_relig_activity", "#_church_ppl_help", "church_ppl_closeness", "chruch_ppl_listen", "church_ppl_express_interest", "relig_imp_growing_up", "imp_prayer_stress", "how_religious"]
names = {
    "RANCEST": "RANCEST",
    "V10047": "uncomf_religion",
    "V06597": "freq_takepart_relig_activity",
    "V06600": "#_church_ppl_help",
    "V06603": "church_ppl_closeness",
    "V06606": "chruch_ppl_listen",
    "V06607": "church_ppl_express_interest",
    "V06616": "relig_imp_growing_up",
    "V06620": "imp_prayer_stress",
    "V06621": "how_religious",
    "V04341": "prob_talk_prof",
    "V04342": "comf_talk_prof",
    "V04343": "embar_talk_prof",
    "V04344": "%_helpful_talk_prof",
    "V04345": "%_better_without_prof",
    "V05631": "religion_comfort"
    
}

data = raw[rel_cols].copy(deep=True)
data.rename(columns=names, inplace=True)
data["RANCEST"] = data["RANCEST"].apply(label_race)

In [ ]:
#data = data.iloc[a_indices]

In [ ]:
data.shape

(20013, 17)

In [ ]:
data[religon].dropna(how='all', inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data.shape

(20013, 17)

In [ ]:
data.isnull().sum(axis=1).value_counts()

10    13931
0      4297
6      1084
1       570
7        63
2        42
3        11
5         8
4         3
9         2
8         2
dtype: int64

In [ ]:
data.head()

    RANCEST  uncomf_religion  ...  imp_prayer_stress  how_religious
0     asian              NaN  ...                NaN            NaN
1     asian              NaN  ...                NaN            NaN
2     asian              NaN  ...                NaN            NaN
3  hispanic              NaN  ...                NaN            NaN
4  hispanic              NaN  ...                NaN            NaN

[5 rows x 11 columns]